@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --member-card-height: 45vh;
    --member-card-width: calc(var(--member-card-height) / 1.5);
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
  }



  .member-card {
    background: #191c29;
    width: var(--member-card-width);
    height: var(--member-card-height);
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: none;
    /* background: url(ss.jpg); */
  }
  
  .member-card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .member-card:hover:before, .member-card:hover:after {
    animation: none;
    opacity: 0;
  }

 
 .member-card h2 {
   left: 66px;
   top: 25px;
 }
 .member-card .icon{

   top: 150px;
   right: 80px;
 }
  
  .member-card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #7e0fff, #0fffc1 43%, #7e0fff);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .member-card::after {
    position: absolute;
    content: "";
    top: calc(var(--member-card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--member-card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #7e0fff, #0fffc1 43%, #7e0fff);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  @media only screen and (max-width: 720px){
    
    .member-container {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }