*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #03080a;
}

.form-container h2{
    color: #08e7f7;
}
.form-container .row100{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.form-container .row100 .col{
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.form-container .row100 .inputbox{
    counter-reset: #45f3ff;
}
span{
    color: #08e7f7;
}
.form-container .row100 .inputbox input,
.form-container .row100 .inputbox .textarea textarea{
    background: transparent;
    padding: 0 10px;
    color: #000;
}
.form-container .row100 .inputbox .text{
    padding: 0 10px;
    transition: 0.5s;
}
.form-container .row100 .inputbox input:focus + .text,
.form-container .row100 .inputbox input:valid + .text{
    top: -35px;
    left: -10px;
}
.form-container .row100 .inputbox .line{
    height: 2px;
    background: #08e7f7;
    transition: 0.5s;
}
.form-container .row100 .inputbox input:focus ~ .line,
.form-container .row100 .inputbox input:valid ~ .line{
    height: 100%;
}
.form-container .row100 .inputbox .textarea{
    /*  */
    height: 100px;
    padding: 10px 0;
}

.form-container .row100 .inputbox textarea:focus + .text,
.form-container .row100 .inputbox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.form-container .row100 .inputbox textarea:focus ~ .line,
.form-container .row100 .inputbox textarea:valid ~ .line{
    height: 100%;
}
button[type="submit"]
{
    padding: 7px 35px;
    background: #45f3ff;
    color: #000;
}